<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dg.mapper.ShoppingCartMapper">

    <select id="list" resultType="ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="goodsId != null">
                and goods_id = #{goodsId}
            </if>
        </where>
    </select>

    <delete id="delete">
        delete from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="goodsId != null">
                and goods_id = #{goodsId}
            </if>
        </where>
    </delete>

    <insert id="insertBatch" parameterType="list">
        insert into shopping_cart
        (name, image, user_id, goods_id, number, points, create_at)
        values
        <foreach collection="shoppingCartList" item="sc" separator=",">
            (#{sc.name},#{sc.image},#{sc.userId},#{sc.goodsId},#{sc.number},#{sc.points},#{sc.createAt})
        </foreach>
    </insert>

</mapper>
